.card {
  position: relative;
  text-align: center;
  margin: 15px;
  overflow: hidden;
  width: 30vw;
  height: 30vw;
}

.image {
  max-width: 100%;
  transition: transform 500ms ease;
  height: 300px;
  object-fit: cover;
  object-position: top center;
}

.image:hover {
  transform: scale(1.1);
}

.title {
  padding: 18px;
}
