.contact {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 12px;
  margin-top: 20vh;
}

a {
  color: #f29f8d;
  text-decoration: none;
}
