.hero {
  text-align: center;
  font-size: 12px;
  margin-top: 30vh;
  height: 100vh;
  width: 100%;
}

.logo {
  width: 10vw;
  padding: 40px;
}

/* tablets */

@media all and (min-width: 768px) {
  .hero {
    font-size: 15px;
  }
  .logo {
    max-width: 30vw;
  }
}

/* desktops */

@media all and (min-width: 992px) {
  .hero {
    font-size: 15px;
  }
  .logo {
    max-width: 30vw;
  }
}
